// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.numero {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}